################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Exemplo 01/.vs/Exemplo 01/v15
/Exemplo 01/Exemplo 01/bin/Debug
/Exemplo 01/Exemplo 01/obj/Debug
